PORT=4000
MONGO_URI=mongodb://localhost:27017/dachabor
JWT_SECRET=super-secret-key
JWT_EXPIRE=7d
TG_BOT_TOKEN=your-telegram-bot-token
TG_CHANNEL_ID=-100XXXXXXXXXX

# Eskiz SMS API Config
ESKIZ_EMAIL=your-eskiz-email@example.com
ESKIZ_PASSWORD=your-eskiz-password
ESKIZ_FROM=your-eskiz-from-header
ESKIZ_BASE_URL=https://notify.eskiz.uz/api
